# Each line is a file pattern followed by one or more owners.
# Later match takes precedence over earlier rule.

# Global rule set for everything, and special cases exclude later
* @indykite/devx

#
# CI/CD, SAST & linting configs
/.github/               @indykite/devx @indykite/ops
.pre-commit-config.yaml @indykite/devx @indykite/ops
.checkov.yaml           @indykite/devx @indykite/ops
.deepsource.toml        @indykite/devx @indykite/ops
.golangci.yml           @indykite/devx @indykite/ops
.hadolint.yml           @indykite/devx @indykite/ops
.markdownlint.yaml      @indykite/devx @indykite/ops
.shellcheckrc           @indykite/devx @indykite/ops
.tfdocs-config.yaml     @indykite/devx @indykite/ops
.tflint.hcl             @indykite/devx @indykite/ops
.trivy*.                @indykite/devx @indykite/ops
.yamlfmt.yml            @indykite/devx @indykite/ops
.yamllint.yml           @indykite/devx @indykite/ops
