---
name: Changelog
concurrency: jarvis-changelog
on:
    push:
        branches:
            - rp

jobs:
    release-please:
        name: Prepare Release notes
        runs-on: ubuntu-latest
        steps:
            - id: release-please
              uses: maprokes/release-please-action@main
              with:
                  default-branch: rp
                  package-name: jarvis-sdk-go
                  token: ${{ secrets.INDYKITE_PAT }}
                  extra-files: |
                      config/doc.go
                      identity/doc.go
                      ingest/doc.go
