---
name: Build and test
on:
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]
        branches:
            - master
        tags:
            - '!*' # Do not execute on tags
        paths-ignore:
            - version.txt
            - CHANGELOG.md
concurrency:
    group: pr-${{ github.ref }}
    cancel-in-progress: true
jobs:
    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - name: Set up Go
              uses: actions/setup-go@v3
              with:
                  go-version: ^1.18

            - name: Check out code
              uses: actions/checkout@v3

            - name: Run Unit tests.
              run: |
                  make test
            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v3
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
                  files: ./coverage.out
