---
name: Build and test
on:
    pull_request:
        types: [opened, synchronize, reopened, ready_for_review]
        branches:
            - master
    push:
        branches:
            - master

concurrency:
    group: pr-${{ github.ref }}
    cancel-in-progress: true
jobs:
    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - name: Check out code
              uses: actions/checkout@v3

            - name: Set up Go
              uses: actions/setup-go@v4
              with:
                  go-version-file: go.mod

            - name: Run Unit tests.
              run: |
                  make test
            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v3
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
                  files: ./coverage.out
                  # Notify us when failed, so devs are not waiting for Codecov report when it will never come.
                  # Because Codecov report is required to be able to merge, we have to run again the whole test anyway.
                  fail_ci_if_error: true
